---
// src/components/SupportCard.astro
---

<div class="support-card">
  <!-- Ícono de soporte en círculo -->
  <div class="support-icon-circle">
    <img src="/icons/SOPORTE.png" alt="Soporte" class="support-icon-img" />
  </div>

  <p class="support-question">¿Necesitas ayuda?</p>
  <p class="support-cta">Contacta a soporte</p>

  <a href="/soporte" class="support-button">Crear un ticket</a>

  <!-- Mascota Beto -->
  <div class="support-mascot">
    <img src="/icons/BETO.png" alt="Beto" class="support-beto" />
  </div>
</div>
